/* font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* GENERAL STYLES */
button,
input {
  font-family: "Roboto", sans-serif;
}
/* GENERAL STYLES END */
